.view-more {
    margin-top: 25px;
    text-align: center;
    .link {
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 30px;
    background-color: #D3D3D3;
    font-size: 15px;
    }
}
